body{ 
  background-color:beige;
  color:rgb(198, 185, 185);
  font-family: Arial;
  margin: 20px; 
  font-size: 18px;
  padding: 30px;
  font-weight: 15px;
}


h1{
  font-size: 50px;
  color: black;
}

h2{
  font-size: 35px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

